{% extends "basic_app/base.html" %}

{% block body_block %}

<h1>APEO Login Page</h1>

<form class="form-group" action="{% url 'basic_app:user_login' %}" method="POST">
  {% csrf_token %}
  <label for="username">Username: </label>
  <input class="form-control" type="text" name="username" placeholder="Username" required>

  <label for="password">Password: </label>
  <input class="form-control" type="password" name="password" placeholder="Password" required>
  <br>
  <input type="submit" class="btn btn-default" value="Login">
</form>

{% endblock %}
