{% extends "basic_app/base.html" %}

{% block body_block %}

<h1>Here are the details of sports officials.</h1>
<br><br>
<div class="row">
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img  height="150px" width="150px" src="http://kolong.iitg.ernet.in/clubs/gsa/images/pv.jpg" alt="...">
    <div class="caption">
      <h6>Chairman Sports Board<br>IIT Guwahati</h6>
      <p><strong>Name: </strong>Dr. V. Prabhu</p>
      <p><strong>Phone: </strong>+91 361 258 2169/2560(O)</p>
      <p><strong>Email: </strong>chrsports@iitg.ac.in</p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img  height="150px" width="150px" src="http://kolong.iitg.ernet.in/clubs/gsa/images/rd.jpg" alt="...">
    <div class="caption">
      <h6>APEO Sports Board<br>IIT Guwahati</h6>
      <p><strong>Name: </strong>Mr. Romen Ch. Dutta</p>
      <p><strong>Phone: </strong>+91 361 258 2168 (O)</p>
      <p><strong>Email: </strong>romen@iitg.ac.in</p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img  height="150px" width="150px" src="http://kolong.iitg.ernet.in/clubs/gsa/images/ds.jpg" alt="...">
    <div class="caption">
      <h6>APEO Sports Board<br>IIT Guwahati</h6>
      <p><strong>Name: </strong>Dr. Diganta Saikia</p>
      <p><strong>Phone: </strong>+91 361 258 2168 (O)</p>
      <p><strong>Email: </strong> ds@iitg.ac.in</p>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <img  height="150px" width="150px" src="http://www.iitg.ac.in/stud/gymkhana/images/nikunj.jpg" alt="...">
    <div class="caption">
      <h6>Gensec Sports Board<br>IIT Guwahati</h6>
      <p><strong>Name: </strong>Nikunj Mittal</p>
      <p><strong>Phone: </strong>+91-8319973095</p>
      <p><strong>Email: </strong>sportsec@iitg.ac.in</p>
    </div>
  </div>
</div>

{% endblock %}
